.fixed-nav-bar {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: HSLA(19, 100%, 70%, .9);
	top: 0;
	height: 82px;
	box-shadow: 2px 1px 1px #AAADAE;
}

.custom-nav {
	height: 200px;
}