/*
=============== Main Image
*/
.image-container {
	width: 100%;
	height: 500px;
	position: relative;
}

.image-overlay {
	width: 100%;
	height: 500px;
	background-color: HSLA(183, 55%, 20%, .6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.image-overlay:hover {
	background-color: HSLA(183, 55%, 20%, .2);
}

#top-image {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
}

/*
=============== Welcome Message and Links
*/

#intro-section {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	/*background-color: HSLA(47, 73%, 85%, .2);*/
}
#intro-section > h1 {
	width: 100%;
	height: 150px;
	margin: 0;
	padding: 40px 0 0 0;
}

.intro-cards {
	width: 100%;
	display: block;
	min-height: 250px;
	padding: 0;
	/*margin-bottom: 172px;*/
}
/*.intro-cards {
	margin: 0 auto;
	height: 250px;
	display: flex;
	width: 70%;
	min-width: 500px;
	padding: 0;
}*/



.camp-card, .party-card {
	width: 100%;
	max-width: 360px;
	height: 200px;
	margin: 0 auto;
	padding: 15px 0;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid HSLA(0, 0%, 66%, 0.3);
	/*display: inline-block;*/
	color: HSLA(183, 55%, 20%, 1);
	background-color: white;
	border-radius: 2px;
	/*box-shadow: 1px 1px 1px HSLA(19, 100%, 70%, .3);*/
	transition: all .5s;
	-webkit-transition: all .5s;
}
.camp-card {
	margin-bottom: 10px;
}
.camp-card:hover {
	/*box-shadow: 1px 2px 7px HSLA(19, 100%, 70%, .8);*/
	/*border: 1px solid HSLA(185, 58%, 30%, 1);*/
	background-color: HSLA(185, 58%, 30%, .1);
}
.party-card:hover {
	/*box-shadow: 1px 2px 7px HSLA(185, 58%, 30%, .8);*/
	/*border: 1px solid HSLA(19, 100%, 70%, 1);*/
	background-color: HSLA(19, 100%, 70%, .1);;
}
.camp-card > p, .party-card > p {
	font-size: 15px;
	padding-bottom: 2px;
	padding-left: 5%;
	text-align: center;
}
.img-container {
	text-align: center;
	padding: 15px 0;
}
.img-container > img, .img-container > img {
	width: 65px;
	margin: 0 auto;
}
.camp-card > h3 {
	padding-left: 15px;
	padding-bottom: 8px;
	border-bottom: 4px solid HSLA(185, 58%, 30%, 1);
}
.party-card > h3 {
	padding-left: 15px;
	padding-bottom: 8px;
	border-bottom: 4px solid HSLA(19, 100%, 70%, 1);
}


/*
=============== Search Form 
*/
.search-form {
	padding: 3%;
}

.input-sizing[type=text] {
	height: 35px;
	width: 100%;
	font-size: 16px;
	border-radius: 1px;
	margin: 5px 0;
	padding: 10px 0 10px 5px;
}

.submit-button[type=submit] {
	height: 35px;
	width: 100%;
	border-radius: 1px;
	background-color: white;
	border: 1px solid HSLA(19, 100%, 70%, 1);
}

/*
=============== Magazine
*/
#magazine {
	width: 100%;
}
#magazine > a > img {
	width: 100%;
}